<?xml version='1.0'?>
<launch>
  <arg name='gui' default='false'/>
  <param name='robot_description' command="$(find xacro)/xacro '$(find protobot_dog_description)/urdf/protobot_dog.urdf.xacro'"/>
  <param name='use_gui' value='$(arg gui)'/>
  <param name='tf_prefix' value='/'/>
  <node name='joint_state_publisher' pkg='joint_state_publisher' type='joint_state_publisher'/>
  <node name='robot_state_publisher' pkg='robot_state_publisher' type='robot_state_publisher'/>
  <node name='rviz' pkg='rviz' type='rviz' args='-d $(find protobot_dog_description)/urdf.rviz'/>
</launch>
